@use './reset';
@use './functions';
@use './variables';
@use './tokens/button';
@use './tokens/color';
@use './tokens/corner';
@use './tokens/font';
@use './tokens/shadow';
@use './tokens/size';

#app {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: $breakpoint-desktop;
  background-color: var(--bg);
}
