:root {
  //Base
  --white: #fff;
  --black: #111;

  //General
  --bg: #f9f8f3;
  --on-bg: #5f5d75;
  --on-bg-low: #737380;

  --bg-footer: #1e1b3a;
  --bg-footer-low: #2a264f;
  --bg-footer-lowest: #3c376e;
  --on-bg-footer: #b9b5c9;

  --surface: #fff9e5;
  --surface-low: #fffcf5;

  --primary: #ffd02b;
  --primary-low: #fde047;
  --primary-high: #e5bb00;
  --on-primary: #242145;

  --secondary: #f0eeff;
  --tertiary: #3a2ebf;
  --like: #ff4b4b;
  --error: #b3261e;
  --price-free: #0b8a8f;

  //Borders
  --outline: #e5e7eb;
  --outline-variant: #d2d2d2;

  //Additional
  --avatar-random-1: #e9eef6;
  --avatar-random-2: #a3e2c9;
  --avatar-random-3: #bce3ff;
  --avatar-random-4: #ffc6ff;
  --avatar-random-5: #e8dff5;
}
