@use '../functions' as *;

:root {
  --corner-extra-small: #{rem(4px)};
  --corner-small: #{rem(8px)};
  --corner-medium: #{rem(12px)};
  --corner-large: #{rem(16px)};
  --corner-extra-large: #{rem(24px)};
  --corner-full: #{rem(9999px)};
}
