@use '@fontsource-variable/inter';
@use '@fontsource-variable/roboto';
@use '../functions';

:root {
  //size
  --display-large: rem(56px);
  --display-medium: rem(36px);
  --display-small: rem(24px);

  --headline-large: rem(32px);
  --headline-medium: rem(24px);
  --headline-small: rem(20px);

  --body-large: rem(18px);
  --body-medium: rem(16px);
  --body-small: rem(14px);

  --label-extra-large: rem(16px);
  --label-large: rem(14px);
  --label-medium: rem(12px);
  --label-small: rem(10px);

  //weight
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-extra-bold: 800;

  //Font-family
  --font-inter:
    'Inter Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe Ui',
    sans-serif;
  --font-roboto:
    'Roboto Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe Ui',
    sans-serif;
}
